@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@ViewBag.Greeting, today is @ViewBag.CurrentDayOfWeek, the @ViewBag.CurrentDayOfMonth of @ViewBag.CurrentMonth. The time is
    @ViewBag.CurrentHour:@ViewBag.CurrentMinute. The temperature outside is @ViewBag.CurrentTemp° with @ViewBag.WeatherDescription</h1>
    <p>
        <a href="http://asp.net" class="btn btn-danger btn-lg">Turn the lights on &raquo;</a>
    </p>


   
</div>

<div class="row">
    <div class="col-md-4">
        


        <h2>News:</h2>
        <asp:ListView ID="ListView1" runat="server">
            <LayoutTemplate>
                <ul>
                    <asp:PlaceHolder ID="itemPlaceholder" runat="server" />
                </ul>
            </LayoutTemplate>
            <ItemTemplate>
                <p>
                    <ul>
                        @foreach (var post in ViewBag.Posts)
                        {
                            <li><img src=@post.Thumbnail.OriginalString> <a href=@post.Shortlink>@post.Title</a></li>
                        }
                    </ul>
                </p>
            </ItemTemplate>
            
        </asp:ListView>
                    <p><a class="btn btn-default" href="http://reddit.com/r/worldnews">More &raquo;</a></p>





    </div>
   
